@model List<Ede.Uof.EIP.BM.dl.Itinerary.SCHEDULE_DETAIL_DATA>

@*報表狀態*@
<div class="dis-ib xs100 text-center mb10"> @Html.BMResource("BM_Report_Status")</div>
@Html.DropDownList("dllRptStatus", (IEnumerable<SelectListItem>)ViewBag.StatusList, new { @class = "form-control xs100 mb10", @style = "width:auto; display:inline-block;" })

@*日期區間*@
@Html.Kendo().DatePicker().Name("txtStartDate").Value(ViewBag.startDay).HtmlAttributes(new { @class = "form-control xs100 mb10", @style = "width:auto; display:inline-block;" })
<div class="dis-ib xs100 text-center mb10">　~　</div>
@Html.Kendo().DatePicker().Name("txtEndDate").Value(ViewBag.endDay).HtmlAttributes(new { @class = "form-control xs100 mb10", @style = "width:auto; display:inline-block;" })

@*關鍵字*@
<input id="txtRptKeyWord" name="ReportKeyword" class="form-control xs100 mb10" placeholder="@Html.BMResource("BM_Key_word_to_inquire")" style="width:200px; display:inline-block;">

@*查詢鈕*@
<button type="button" onclick="GetScheduleInquiryGrid();" class="btn btn-warning xs100 mb10">@Html.BMResource("BM_Query")</button>

<div class="table-responsive">
    @(Html.Kendo().Grid(Model).Name("gridReport").Columns(columns =>
    {
        @*時間*@
        columns.Bound(c => c.CTB_EIP_BM_SCHEDULE.SCHEDULE_TIME)
        .ClientTemplate(Html.ActionLink("#=CTB_EIP_BM_SCHEDULE.SCHEDULE_TIME#", "ItineraryIn", "Itinerary", new { SCHEDULE_ID = "#=CTB_EIP_BM_SCHEDULE.SCHEDULE_ID#" }, "").ToHtmlString()) //時間
        .Title(Html.BMResource("BM_Time"));

        @*負責人員*@
        columns.Bound(c => c.CTB_EIP_BM_SCHEDULE.NAME)
        .ClientTemplate(Html.ActionLink("#=CTB_EIP_BM_SCHEDULE.NAME#(#=CTB_EIP_BM_SCHEDULE.ACCOUNT#)", "UserIn", "User", new { id = "#=CTB_EIP_BM_SCHEDULE.CREATOR#" }, "").ToHtmlString())
        .Title(Html.BMResource("BM_Owner"));

        @*拜訪客戶*@
        columns.Bound(c => c.C_CUSTOMER.CUSTOMER_NAME).ClientTemplate("#=gridColumn_ScheduleCustomer(C_CUSTOMER)#").Title(Html.BMResource("BM_Visit_Customer"));

        @*案件代號*@
        columns.Bound(c => c.CTB_EIP_BM_CASE.CASE_NO).ClientTemplate("#=gridColumn_Case(CTB_EIP_BM_CASE)#").Title(Html.BMResource("BM_Case_ID"));

        @*搭配經銷商*@
        columns.Bound(c => c.C_DEALER).Title(Html.BMResource("BM_Distributor"));

        @*拜訪主旨*@
        columns.Bound(c => c.CTB_EIP_BM_SCHEDULE_SUB.SUBJECT_NAME).Title(Html.BMResource("BM_Visit_Subject"));

        @*聯絡人*@
        columns.Bound(c => c.C_LIST_CUSTOMER_CONTENT)
        .ClientTemplate("#=gridColumn_CustomerContant(C_LIST_CUSTOMER_CONTENT)#")
        .Title(Html.BMResource("BM_Contact_person"));

        @*拜訪備註*@
        columns.Bound(c => c.CTB_EIP_BM_SCHEDULE.SCH_REMARK).Title(Html.BMResource("BM_Remark"));

    }).Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 20, 30, 40, 50 })
    .Messages(messages => messages.Display
    (
        Html.BMResource("BM_From") + " {0} " +
        Html.BMResource("BM_To") + " {1} ," +
        Html.BMResource("BM_Total") + ": {2} ")
    ).Messages(messages => messages.ItemsPerPage(""))
    .Messages(messages => messages.Last(""))
    .Messages(messages => messages.Next(""))
    .Messages(messages => messages.First(""))
    .Messages(messages => messages.Previous(""))
    .ButtonCount(5))
    .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .PageSize(10)
                .ServerOperation(false)
                .Events(events => events.Error("error_handler"))
                .Model(model => model.Id(p => p.CTB_EIP_BM_SCHEDULE.SCHEDULE_ID))
                .Destroy("ScheduleSubDelete", "Maintain"))
    .Sortable())
</div>

<script type="text/javascript">
    function GetScheduleInquiryGrid() {
        $.ajax({
            url: '@Url.Action("GetScheduleInquiryList", "Manager")',
            data: {
                rptStatus: $("#dllRptStatus").val(),
                startDay: $("#txtStartDate").val(),
                endDay: $("#txtEndDate").val(),
                keyword: $("#txtRptKeyWord").val()
            },
            type: 'post',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                $("#gridReport").data("kendoGrid").dataSource.data(data);
            }, error: function (data, textStatus, jqXHR) {
                alert(data.error);
            }
        });
    }
</script>